.nav {
    align-items: flex-start;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 99999;
    background-color:aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    
}
h1{
    transform: translate(-100%, 0%);
}
.navUl{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(100%, 0);
}

li{ 
    margin: 20%;
    transform: translate(-700%, 0%);
}


