.nav {
    align-items: flex-start;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    height: 10vh;
    
    background-color:aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    
}

.navUl{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(100%, 0);
}

li{ 
    margin: 25%;
    transform: translate(-400%, 0%);
}




